body {
    font-family : sans-serif;
    background: #202124;
}

header {
    background: #292A2D;
    min-height: 56px;
    line-height: 56px;
    font-size: 24px;
    padding: 0 5%;
    color: rgb(154, 160, 166);
}

.panel {
    width: 580px;
    margin: 20px auto;
}

.panel h3 {
    color: #EEEEEE;
    font-size: 16px;
    font-weight: 400;
}

.panel .block {
    background: #29292C;
    margin: 10px 0 30px;
    padding: 5px 0;
    box-shadow: 1px 1px 2px #111;
    border-radius: 5px;
}

.row {
    padding: 15px 20px;
    border-bottom: solid 1px #777;
    overflow: hidden;
}

.row:last-child {
    border: none;
}

.row span {
    color: #EEEEEE;
}

.row span.tip {
    margin-left: 20px;
    color: rgb(154, 160, 166);
}

.row .ant-switch {
    margin-top: 5px;
    float: right;
    font-size: 12px;
}

.row .ant-input {
    background: #CCC;
    border: none;
    height: 30px;
    width: 360px;
    font-size: 12px;
}

.row .ant-input[disabled] {
    background: #777;
}

.row .ant-btn-danger {
    font-size: 12px;
    margin-left: 15px;
}
