body {
	margin: 0px;
	color: #345;
	font: menu;
	font-size: 9pt;
	-webkit-user-select: none;
}

body, td, th, input, select, textarea, button {
	font: menu;
	font-size: 9pt;
}

body * {
	white-space: nowrap;
	?outline: solid 1px #abc;
}

#menu {
	margin: 2px 0px;
}

#menu .item:hover {
	?padding: 3px 24px 3px 5px;
	padding: 3px 24px;
	-webkit-padding-start: 5px;
	border: solid 1px #bcd;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f5fc), color-stop(1, #e0e9f4));
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0, #fff),  color-stop(0.4, hsl(215, 67%, 97%)), color-stop(0.41, hsl(213, 48%, 95%)));

	?border: solid 1px #c5cdd3;
	?background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f9fe), color-stop(1, #e8f1f9));
}

#menu .item:active {
	?padding: 3px 24px 3px 5px;
	padding: 3px 24px;
	-webkit-padding-start: 5px;
	border: solid 1px #abc;
	border-radius: 3px;
	background: #dde7f2 none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8eef4), color-stop(1, #f5f9f4));
}

#menu .item img {
	vertical-align: text-top;
}

#menu .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	?background: url(/image/checked.png);
}

#menu .checked .icon {
	background: url(/image/checked.png) !important;
}

#menu .item span {
	-webkit-padding-start: 4px;
}

#menu .separator {
	height: 0px;
	margin: 3px 2px;
	border: 0;
	border-top: 1px solid #ddd;
}

#menu .item {
	?padding: 4px 25px 4px 6px;
	padding: 4px 25px;
	-webkit-padding-start: 6px;
	margin: 0px 2px;
	white-space: nowrap;
	cursor: pointer;
	?text-shadow: #ccc -1px 0px 2px;
}
